name: Telegram Channel Updater

on:
  schedule:
    - cron: '*/30 * * * *'   # التحديث كل نصف ساعة
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: "3.11"
        cache: 'pip'
  
    - uses: actions/setup-node@v4
      with:
        node-version: 18
        cache: 'yarn'
        
    - uses: awalsh128/cache-apt-pkgs-action@latest
      with:
        packages: ffmpeg chromium-browser
        version: 1.0

    - name: Install dependencies
      run: |
        set -xe
        python -VV
        python -m pip install tgc
        yarn global add puppeteer-lottie-cli

    - name: Checkout gh-pages
      run: |
        ls -lah
        if ! git fetch --no-tags --depth=1 origin gh-pages; then
          git switch --orphan gh-pages
        else
          git switch gh-pages
        fi
        ls -lah

    # ✅ هذه الخطوة الجديدة لإنشاء ملف config.toml من Secret
    - name: Create config.toml from Secret
      run: echo "${{ secrets.TGC_CONFIG }}" > config.toml

    - name: Run tgc
      run: tgc
      env:
        PYTHONUNBUFFERED: 1

    - name: Zotero Download
      env:
        ZOTERO: ${{ secrets.ZOTERO_USERID }}
      if: "${{ env.ZOTERO != '' }}"
      run: |
        rm -rf zotero.json
        curl -L "https://api.zotero.org/users/${ZOTERO}/publications/items?linkwrap=1&order=date&sort=desc&start=0&include=data&limit=100" --output zotero.json
        ls -lah
        
    - name: Profile Readme Download
      env:
        REPO_NAME: ${{ github.repository }}
      run: |
        echo "$REPO_NAME"
        USER=$(python -c "print('${REPO_NAME}'.split('/')[0])")
        echo "$USER"
        rm -rf profile-readme.md
        if ! curl -L "https://raw.githubusercontent.com/${USER}/${USER}/main/README.md" --output profile-readme.md; then
          echo "Failed to download readme."
        fi
        ls -lah
        
    - uses: EndBug/add-and-commit@v7
      with:
        default_author: github_actions
        branch: gh-pages
        branch_mode: create
        message: '[U] Update channel content'
